
<div class="page-header text-center">
  <h1>Tasks</h1>
</div>

<div class="container dashboard">
  <app-task-form (add)="handleAdd($event)"></app-task-form>
  <table class="table table-borderless">
    <tbody>
      <tr app-task-details 
      *ngFor="let task of returnedTasks; let i = index" 
      [task]="task"
      (edit)="handleEdit($event)"
      (mouseenter)="mouseEnter(i)"
      (mouseleave)="mouseLeave()"
      (delete)="handleDelete($event)"
      [showDeleteButton]="currentlyHovered==i?true:false"
      >
      </tr>
    </tbody>
  </table>
  <div>
    <pagination [boundaryLinks]="false" 
      [directionLinks]="true" 
      [totalItems]="tasks.length"
      [itemsPerPage]="7"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;"
      class="navbar-fixed-bottom my-pagination"
      [customPreviousTemplate]="prevTemplate"
      [customNextTemplate]="nextTemplate"
      [customPageTemplate]="pageTemplate"
    ></pagination>

    <ng-template class='page-template' #pageTemplate let-page let-disabled="disabled" let-currentPage="currentPage">
      {{ page.number }}
    </ng-template>
     
    <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </ng-container>
    </ng-template>
     
    <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
      <ng-container>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </ng-container>
    </ng-template>
  </div>

  <h2 class="text-center">{{ tasks.length ? '' : 'No tasks found. Let\'s add one!' }}</h2>

</div>
