<td class="text-center col-md-2">
  <button type="button" (click)="handleStatusChange()" class="btn btn-lg"
    [ngClass]="{'btn-active':task.active, 'btn-secondary':!task.active}">{{task.active ? 'active' : 'inactive'}}</button>
</td>
<td class="text-justify col-md-9" tooltip="Double click to edit!" triggers="hover">
  <form [formGroup]="editForm" (ngSubmit)="handleSubmit()" novalidate>
    <span class="taskDescription" *ngIf="!editing" [ngClass]="{'inactive': !task.active}" (dblclick)="toggleEditing()"> {{task.description}}
    </span>
    <input *ngIf="editing" class="form-control" maxlength="30" formControlName="description" (blur)="toggleEditing()"
      (keyup.enter)="toggleEditing()" type="text" required #input>
  </form>
  <small class="pull-left"> {{task.date | date:'MMMM dd, yyyy h:mm a' }} </small>
</td>
<td class="col-md-1">
  <button type="button" *ngIf="showDeleteButton" (click)="handleDelete()"
    class="btn btn-default-outline deleteButton">&#10006;</button>
</td>
